.container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-bottom: 120px;
  gap: 1rem;
}

.leftColumn {
  flex: 2;
}

.rightColumn {
  flex: 1;
  min-width: 280px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .rightColumn {
    min-width: auto;
    margin-top: 1rem;
  }
}

