.container {
  display: flex;
  flex-direction: row; /* changer column en row */
  padding: 1rem;
  padding-bottom: 120px;
  gap: 1rem; /* espace entre colonnes (optionnel) */
}

.leftColumn {
  flex: 2;
}

.rightColumn {
  flex: 1;
  min-width: 280px;
}


